

body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;

}



.nav{

	width: 100%;
	height:100%;
}

#menu ul {	
padding-top:20px;

width: 100%;
height:15%;
display: flex;
flex-direction: row;
align-items: center;
background-color:white;
list-style:none;
margin-top: 20px;
text-align: center;
}
#menu ul li { display: inline; 

margin-right:30px;
color: red;
width: 100%;
height:100%;

}
	

.linha{
padding: 20px 20px;
display: inline-block;
 
}
.botao1{
background-color:white;
color: #333;
text-decoration: none;
border-bottom:3px solid white;

}
.botao2{

background-color: #E6002E;
border: none;
color: white;
border-radius:40px;
text-decoration: none;

}

.botao1:hover {
display: inline-block;
color:#E6002E;
text-decoration:none;

}

#menu ul li h6{
margin-right:50%;

}
.logo{
margin:-20px;
	width: 100px;
	height:100px;
}


.botao2:hover {
	  display: inline-block;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.20), 0 17px 50px 0 rgba(0,0,0,0.19);
background-color: #B22222;
color:white;
text-decoration:none;
}

.corpo1{
margin-left:-20px;


}

.img1{
margin-right: -20px;
margin-left:-20px;

width:100%;
height: 90%;	
align-items: center;
overflow: hidden;
}
#search-box {

box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
position: absolute;
width: 20%;
border-radius: 20px;
margin-top:-17%;
margin-left: 25px;
}
#search-form {
    height: 40px;
    border: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
}
#search-text {
    font-size: 14px;
    color: #ddd;
    border-width: 0;
    background: transparent;
}
#search-box input[type="text"] {
    width: 90%;
    padding: 11px 0 10px 1em;
    color: #333;
    outline: none;

}
#search-button {
	
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 80px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 42px;
    border-width: 0;
        background-color: #E6002E; /*--define a cor do botão Buscar--*/
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
}
#search-button:hover{
	
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 80px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 42px;
    border-width: 0;
	background-color: #f58b95;/*--define a cor do botão Buscar--*/
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
}
.rodape{
height: 100%;
width: 100%;
background-color:#E6002E;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.mapa{
width:100%;
height:70%;
margin-left:-15px;
}
.container h{
margin-top:5%;
align-items:center;
}
.titulo{
text-align:center;
font-size:30px;
}
.texto {
font-size:16px;
text-indent: 1.5em;
text-align: jutify;
}
#historia{
	padding-right: 0px;
}


.dropdown1 {
position: flex;
display: inline-block;

}

.dropdown1-content {
display: none;
position: fixed;
background-color: white;
min-width: 100px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding-top: 15px;
text-align:center;
padding-left:10px;
padding-right:10px;
text-decoration:none;
}

.dropdown1:hover .dropdown1-content {
 display: block;
 background-color:#fff;
color: #E6002E;
text-decoration:none;
}


.dropdownsep {

width: 200px;
height: 60px;
text-align:center;
text-decoration:none;
}

.dropdownsep {
background: transparent;
color: #555;

text-decoration:none;
}

.dropdownsep:hover,
.dropdownsep:focus {
	background: #eee;
color:#E6002E;
text-decoration:none;

}	
.botao:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	background-color: #f58b95;
	text-decoration:none;

}


.imgsearch{
	width:30px;
	height:30px;
margin-top:10px ;
}

.h{
align-items:center;
	width:100%;
  position: relative;
  height: 50px;
  
}
a{
	text-decoration:none;
}
input {
	
  height: 50px;
  border: none;
  outline: none;
  padding-left: 50px;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  z-index: 3;
  transition: width 1s ease-out;
  cursor: pointer;
}
input:focus { 
  border: 1px solid #ccc;
  background-color:white;
  border-radius: 25px;
  width: 100%;
  z-index: 1;
  transition: width 1s ease-in;
  text-decoration:none;
}
button { 
  height: 50px;
  width: 50px;
  background: center no-repeat;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}
button:focus {
  outline: none;
  text-decoration:none;
}
/* esconde o LABEL "Buscar" */
label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;	
}


.imgperfil{
	border-radius:50px;
	width:50px;
	height:50px;

}
.etapas {
	width: 100%;
	height: 75%;
	
	margin: 0;

}
.yvideo{
	width :100%;
	height:100%;
	padding: 100px;
}

.tipos{
	width:100%;
	height:100%;
}
.fim{
	width:100%;
	height:20%;
	background-color:#E6002E;
	margin:0;
	padding:0;
}
.dropdown1-content{
	position:absolute;
	z-index:1;
}